.container {
    max-width: 540px;
    background-color: var(--neutral-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem 4.5rem;
    border-radius: 1rem;
    position: relative;
}

@media only screen and (max-width: 375px) {
    .container {
        max-width: 370px;
        margin: .4rem;
    }
}

.header {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--primary-neon-green);
    margin-bottom: 1rem;
}

.text {
    color: var(--primary-light-cyan);
    font-size: var(--font-size);
    text-align: center;
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

@media only screen and (max-width: 375px) {
    .text {
        font-size: 20px;
    }
}

.dividerMobile {
    display: none;

}

@media only screen and (max-width: 375px) {
    .dividerMobile {
        display: block;
        max-width: 90%;
    }

    .dividerDesktop {
        display: none;
    }
}

.dice {
    background: var(--primary-neon-green);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: -2rem;
}

.dice:hover {
    box-shadow: 0px 0px 40px hsla(150, 100%, 66%, 0.5);
    scale: 1.2;
    rotate: 45deg;
    transition: .2s ease-in;

}

/* .dice img {
    animation: rotate 5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */