* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--neutral-dark-blue);
    font-family: var(--font-family);
    font-size: var(--fw-regular);
    color: white;
    font-weight: var(--fw-bold);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    body {
        align-items: flex-start;
        padding: 5rem 1rem;
    }
}